<div class='admin-controls'>
  <nav>
    <ul class="nav nav-pills">
      {{#if currentUser.town_category_id}}
        <li>
          {{#link-to "groups" (query-params category_id=currentUser.town_category_id meta=undefined)}}
            {{place-label currentUser.town_category_id}}
          {{/link-to}}
        </li>
      {{/if}}
      <li>
        {{#link-to "groups" (query-params meta=true category_id=undefined)}}
          {{i18n 'groups.civically'}}
        {{/link-to}}
      </li>
    </ul>
  </nav>
</div>
{{partial 'groups/index'}}
{{people-image}}
