<div class="control-group">
  <label class="control-label">{{i18n 'admin.groups.category_id'}}</label>
  {{place-select-box value=group.custom_fields.category_id
                     width=300
                     filterable=true
                     includeCountries=true}}
</div>
