.groups-page #main-outlet section, .groups-new-page #main-outlet section {
  background-color: $secondary;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 60px;
}

.groups-page .admin-controls {
  margin-bottom: 15px;
  border-radius: 4px;
}

.groups-page .admin-controls, .groups-page .admin-controls nav {
  background-color: $secondary;
  &:before, &:after {
    background: none;
  }
}

.group-info {
  margin-bottom: 0;

  span {
    display: block;
  }

  .group-place-container {
    margin-top: 10px;
  }
}

.container.group .list-controls, .container.group .user-table {
  padding: 15px;
  background-color: $secondary;
  box-sizing: border-box;
}

.container.group ul {
  margin-bottom: 0;
}

.group-members-actions {
  position: relative;
  margin-bottom: 10px;
  top: initial;
  right: initial;
}
